<article class="comments">
    <div class="title">
        <h4>{{title}}<h4>
        <span>({{comment_text}})</span>
    </div>
    <div class="meta">
         {{user.email}} on {{created_at}}
        
        <h1>{{comments.length}}</h1>
    </div>
</article>