<header>Pet Portal Comments</header>
<main>
  <form class="comment-form">
    <div>
      <div>Enter a comment</div>
      <textarea name="comment-body"></textarea>
    </div>
    <button type="submit">add comment</button>
    </form>
  </form>

    <div class="card">

  <div class="card-header">
    {{ comment.title }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ comment.title }}</h5>
    <p class="card-text">{{ comment.comment_text }} <span>{{comment.created_at}}</span></p>
    <a href="#" class="btn btn-primary">Create new comment</a>
  </div>
</div>


<div class="comments">  
  {{#each comments.comments}}
  <section class="comment">
    <div class="meta">
      {{user.username}} on {{created_at}}
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>

</main>
<script src="/javascript/comments.js"></script>